## Test Results (100 Rolls) 

## v0.1 d6 
<img width="752" height="452" alt="image" src="https://github.com/user-attachments/assets/6e7e069d-c7ae-47c0-afb4-2ce7bcafed55" />

## v0.2 d4 
<img width="752" height="452" alt="image" src="https://github.com/user-attachments/assets/d31ab4d2-ffb8-4da1-b578-329dd0739122" />
